/* font poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

:root {
  --primaryTextColor: #232e35; /* untuk title / judul */
  --secondaryTextColor: #656d72; /* untuk text paragraf */

  --borderColor: #f1f1f1;
  --lineColor: #d9d9d9; /* untuk line di pre title*/

  --primaryBackgroundColor: #fff;
  --secondaryBackgroundColor: #fbfbfb;
  --thirdBackgroundColorColor: #f5f3fe;

  --primaryIconColor: #7e74f1;
  --primaryIconColorHover: #5d51e8;

  --sectionPadding: 6rem 0;
  --itemBorderRadius: 0.7rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  color: var(--primaryTextColor);
}
p {
  font-size: 1rem; /* 16px */
  line-height: 1.9rem;
}
p,
span,
label,
input,
textarea,
li {
  color: var(--secondaryTextColor);
}
a {
  text-decoration: none;
}
/* titles */
.section__title {
  margin: 1rem 0 4rem;
  font-size: 2rem;
}
.pre__title {
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  color: var(--secondaryTextColor);
  position: relative;
  padding-left: 0px; /* Mengubah padding menjadi 0 */
  width: fit-content;
  font-weight: 400px;
  font-size: 0.9rem;
  padding-bottom: 20px;
  padding-top: 20px;
}

.pre__title::after {
  content: "";
  width: 0; /* Mengubah lebar menjadi 0 */
  height: 0;
  display: block;
  border-top: 0; /* Menghapus garis */
  border-right: 0; /* Menghapus garis */
  border-bottom: 0; /* Menghapus garis */
  border-left: 0; /* Menghapus garis */
  margin: 0 auto;
}


.main__container {
  width: 1200px;
  margin: 0 auto;
}

header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  background-color: #ffff;
  z-index: 5;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 1px;
}
.nav {
  display: flex;
  justify-content: space-between;
  padding: 2rem 10px;
  align-items: center;
}

.nav ul {
  display: flex;
  gap: 3rem;
  list-style: none;
}
main {
  margin-top: 115px;
}
.logo {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 1.9rem;
}
.logo a {
  color: var(--primaryTextColor);
}
.nav ul li {
  display: flex;
  align-items: center;
}
.nav ul li a {
  color: var(--primaryTextColor);
}
/* button resume */
.btn {
  padding: 1rem 1.5rem;
  background: #7e74f1;
  border: 1.5px solid var(--borderColor);
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  color: white; /* Tambahkan properti ini untuk mengatur warna teks */
}

.btn:hover {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 8px;
}

/* burger */
.burger div {
  width: 25px;
  height: 4px;
  background-color: #000;
  margin: 7px;
  border-radius: 5px;
  transition: all 0.3s;
  z-index: 99;
}
.burger {
  display: none;
  z-index: 99;
  position: fixed;
  top: 33px;
  right: 35px;
}

/* main first */
#hero {
  height: 720px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding: 0 2rem;
}
.hero__right img {
  width: 90%;
  border-radius: 50%;
  /* tambahkan properti berikut untuk memastikan gambar tetap lingkaran */
  height: auto;
  display: block;
  margin: 0 auto;
}

.hero__name {
  font-size: 3rem;
  font-weight: 700;
  margin: 0.5rem 0 1rem;
}

.hero__name span {
  color: var(--primaryIconColor);
}
.hero__right {
  display: flex;
  justify-content: center;
}
/* --services first-- */
#services {
  background-color: var(--secondaryBackgroundColor);
  padding: var(--sectionPadding);
}
#services .pre__title {
  margin: 0 auto;
}
#services .services__title {
  text-align: center;
}
/* layout */
.grid__layout {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 3rem;
  padding: 0 1rem;
}

.service {
  padding: 3rem 2rem;
  text-align: center;
  background: var(--primaryBackgroundColor);
  border-radius: var(--itemBorderRadius);
}

.service h4 {
  margin: 1.5rem 0;
  font-weight: 500;
  font-size: 1.05rem;
}
.service__icon {
  background: var(--thirdBackgroundColorColor);
  width: fit-content;
  margin: 0 auto;
  padding: 1rem 1.3rem;
  border-radius: 0.5rem;
}
.service__icon svg {
  fill: var(--primaryIconColor);
}
/* --services end-- */

/* --portfolio first */
#portfolios {
  padding: var(--sectionPadding);
}
.portfolio {
  border-radius: var(--itemBorderRadius);
  overflow: hidden;
  border: 1px solid var(--borderColor);
  box-shadow: rgba(0, 0, 0, 0.05) 0px 3px 8px;
}
.portfolio__cover {
  height: 250px;
}
.portfolio__cover img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.portfolio__info {
  padding: 2rem 1.5rem;
}
.portfolio__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.portfolio_title h4 {
  font-weight: 500;
  font-size: 1.05rem;
}
.portfolio__title a svg:hover {
  fill: var(--primaryIconColor);
}
.portfolio__title a svg {
  transition: 0.5s ease-in-out;
}
.portfolio__tags {
  display: flex;
  gap: 0.5rem;
  margin: 1rem 0;
}
.portfolio__tags div {
  font-size: 0.9rem;
  border: 2px solid var(--secondaryBackgroundColor);
  border-radius: 5px;
  padding: 0.4rem 1rem;
  color: var(--secondaryTextColor);
}
/* --portfolio end */

/* --skills first */
#skills {
  background: var(--secondaryBackgroundColor);
  padding: var(--sectionPadding);
}
#skills .pre__title {
  margin: 0 auto;
}
#skills .section__title {
  text-align: center;
}
.skills__layout {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 3rem;
  padding: 0 1rem;
}

.skills__layout .box__skills {
  padding: 0.9rem;
  display: flex;
  gap: 2rem;
  background: var(--primaryBackgroundColor);
  box-shadow: rgba(0, 0, 0, 0.05) 0px 3px 8px;
  border-radius: 8px;
}
.skills__layout .box__skills_img {
  height: 2rem;
  width: 3rem;
}
.skills__layout .box__skills_img img {
  width: 100%;
  height: 100%;
}
.skills__layout .box__skills_title {
  font-size: 1rem;
  font-weight: 800;
  letter-spacing: 0.19rem;
}

/* --skills end */

/* --contact first */
#contact {
  padding: var(--sectionPadding);
}
#contact .pre__title {
  margin: 0 auto;
}
.contact {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 3rem;
}
.contact__form div {
  margin-bottom: 1.4rem;
}
.contact__form input,
.contact__form textarea {
  width: 100%;
  padding: 0.75rem 1.3rem;
  font-family: "Roboto", sans-serif;
  background: var(--secondaryBackgroundColor);
  border: 1px solid var(--borderColor);
  border-radius: 3px;
  resize: none;
}
.contact__form input::placeholder,
.contact__form textarea::placeholder {
  color: #9d9fa1;
}
.contact__form input:focus,
.contact__form textarea:focus {
  ouline: none;
  border: 1px solid #7d7d7d;
}
.btn__submit {
  width: 100%;
  padding: 0.75rem 1.3rem;
  background-color: var(--primaryIconColor);
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
.btn__submit:hover {
  background: var(--primaryIconColorHover);
}
.contact__right {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.contact__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}

.contact__item_detail {
  margin-top: 1rem;
}

.contact__item_icon {
  background: var(--thirdBackgroundColorColor);
  width: 53px;
  height: 53px;
  border-radius: 9px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem; /* Add margin to space the icon from the detail */
}

.contact__item_icon svg {
  fill: var(--primaryIconColor);
}

.contact__item_detail h4 {
  margin-bottom: 0.6rem;
}


/* --contact end */

/* --footer first */
footer {
  padding: 4rem 0;
  background: var(--secondaryBackgroundColor);
  text-align: center;
}
.footer__icons {
  margin-bottom: 1rem;
}
.footer__icons a {
  margin: 0 0.5rem;
}
.footer__icons svg {
  fill: #3e3f40;
}
.footer__icons a:hover svg {
  fill: #000;
}
/* --footer end */
/* main end */

/* media screen 1200px first */
@media screen and (max-width: 1200px) {
  .main__container {
    width: 90%;
  }
}
/* media screen 1200px end */

/* media screen 1000px first */
@media screen and (max-width: 1000px) {
  p {
    font-size: 0.9rem;
    line-height: 1.8rem;
  }
  .grid__layout {
    gap: 1rem;
  }
}
/* media screen 1000px end */
/* media screen 825px first */
@media screen and (max-width: 825px) {
  /* burger */
  .burger {
    display: block;
    cursor: pointer;
  }
  .toggle__burger .line__1 {
    transform: rotate(-45deg) translate(-5px, 7px);
  }
  .toggle__burger .line__2 {
    opacity: 0;
  }
  .toggle__burger .line__3 {
    transform: rotate(45deg) translate(-8px, -9px);
  }
  /* nav */
  nav {
    position: fixed;
    width: 50%;
    right: 0;
    top: 0;
    height: 100vh;
    flex-direction: column;
    background: var(--primaryBackgroundColor);
    border-left: 1px solid var(--borderColor);
    z-index: 9;
    transform: translateX(100%);
    transition: 0.5s ease-in-out;
  }
  nav ul {
    margin-top: 150px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .nav__active {
    transform: translateX(0);
  }
  :root {
    --sectionPadding: 4rem 0;
  }
  .section__title {
    font-size: 1.6rem;
    margin: 0.6rem 0 2.5rem;
  }
  .pre__title {
    font-size: 0.8rem;
  }
  /* hero section */
  #hero {
    grid-template-columns: 1fr;
    height: fit-content;
  }
  .hero__right {
    order: -1;
  }
  .hero__right img {
    width: 70%;
  }
  .hero__left {
    text-align: center;
    padding-bottom: 5rem;
  }
  .hero__left .pre__title {
    margin: 0 auto;
  }
  .hero__name {
    font-size: 2.3rem;
    margin-bottom: 0.5rem;
  }
}
/* media screen 825px end */
/* media screen 640px first */
@media screen and (max-width: 640px) {
}
/* media screen 640px end */
